/* Geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Libertinus Sans, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #252326;
    width: 100%;
}

/* Cabeçalho */

header {
    background-color: #f9ffff;
    padding: 0.5rem;
    box-shadow: 1px 1px 7px #00000075;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#container-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 150px;
}

#menu {
    display: flex;
    gap: 3rem;
}

.menu-item {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    transition:  0.4s;
}

.menu-item:hover {
    color: #c92c2c;
}

.btn-agendar {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c92c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.5s;
}

.btn-agendar:hover {
    opacity: 1;
}

i {
    display: none;
}


/* Banner */

.banner {
    height: 850px;
    background: url("../Imagens/banner.jpg") no-repeat center center / cover;
}

.filtro-banner {
    background-image: linear-gradient(to left, #00000000 0%, #000000d6 85%);
    height: 100%;
}

.text-banner {
    padding: 14rem 4rem ;
    color: #fff;
} 

.text-banner h1 {
    font-size: 5rem;
    width: 600px;
    font-weight: bold;
    margin-bottom: 4rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: 1s;
}

.text-banner p {
    font-size: 2rem;
    width: 350px;
    line-height: 3rem;
    opacity: 0;
    transition: 1.5s;
    transform: translateX(-100%);

}

.text-banner .animation {
    opacity: 1;
    transform: translateX(0%);
}

/* Serviços */

#serviços {
    padding: 2rem 2rem 15rem;
    text-align: center;
    border-bottom: 1px solid #CCC;
}

#serviços h2 {
    padding: 3rem;
    font-size: 4rem;
    color: #FFF;
    font-weight: bold;
}

.cards-serviços {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.card {
    width: 400px;
    padding: 2rem;
    border-radius: 5px;
    background-color: #f9ffff;
    box-shadow: 1px 1px 7px #00000075;
    opacity: 0;
}

.img {
    background-color: #FFF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -90px auto 0;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c92c2c;
}

.img img {
    width: 90px;
    height: 90px;
}

.card-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card-img img {
    width: 60px;
    height: 60px;
}

.card-img span {
    font-size: 2rem;
    color: #c92c2c;
}


.card h3 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

.borda {
    width: 60%;
    height: 2px;
    background-color: #c92c2c;
    margin: 0 auto 1rem;
}

.desc p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.preço {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 1px solid #CCC;
}

.preço sup {
    font-size: 1rem;
}

.animation-card {
    opacity: 1;
    transition: 2s;
}

/* Sobre */

#quem-somos {
    padding: 2rem 2rem 15rem;
    background-color: #f1f1f1;
}

#quem-somos h2 {
    padding: 3rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.img-sobre {
    max-width: 600px;
}

.img-sobre img{
    max-width: 600px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #00000048;
}

.sobre-desc {
    width: 500px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: bold;
}

/* Contato */

#form-contato {
    padding: 2rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

#form-contato h2 {
    padding: 3rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.container-form {
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.img-contato img {
    height: 400px;
}

.form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input label {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-input input {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}

.form-input input:focus {
    border: 2px solid #c92c2c;
    outline: none;
}

.form-input textarea {
    width: 100%;
    height: 300px;
    padding: 1rem;
    font-size: 1.2rem;
    resize: none;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
}

.form-input textarea:focus {
    outline: none;
    border: 2px solid #c92c2c;
}

.form input[type="submit"] {
    width: 100%;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #c92c2c;
    color: #FFF;
    transition: 0.5s;
    opacity: 0.8;
    font-size: 1.2rem;
    font-weight: bold;
}

.form input[type="submit"]:hover {
    opacity: 1;
}

/* footer */

#container-footer {
    color: #FFF;
    background-color: #2c2a2d;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #4a4a4a;
    padding: 1rem;
    margin-bottom: 2rem;
}

.creditos p {
    font-size: 0.9rem;
}

.creditos p a {
    color: #FFF;
    opacity: 0.8;
    transition: 0.4s;
}

.creditos p a:hover {
    opacity: 1;
}

.redes-sociais img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 0.5rem;
    opacity: 0.8;
    transition: 0.4s;
}

.redes-sociais img:hover {
    opacity: 1;
}

.copy {
    text-align: center;
    padding-bottom: 2rem;
}

/* feedback */

.feedback {
    padding: 1.2rem;
    width: 250px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #c92c2c;
    background-color: #e88d8d;
    position: fixed;
    top: 110px;
    right: 5px;
    z-index: 3;
    box-shadow: 1px 1px 7px #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #c92c2c;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-sucess {
    width: 200px;
    height: 200px;
}

.info-sucess {
    font-size: 2rem;
    text-align: center;
}

.loading {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #CCC;
    border-top-color: transparent;
    animation: loading 1s linear infinite;
}

@keyframes loading {

    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* responsividade */

@media (max-width: 450px) {

    /* menu */

    #container-menu {
        position: relative;
        justify-content: space-between;
    }
    
    #logo {
        width: 90px;
    }

    #menu {
        position: absolute;
        top: 70px;
        right: 0px;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        padding: 2rem;
        margin: 0;
        border-radius: 5px;
        opacity: 1;
        transition: 0.4s;
    }

    .hide {
        visibility: hidden;
        opacity: 0 !important;
    }

    i {
        display: block;
    }

    .bi-list {
        font-size: 2.5rem;
    }

    /* banner */

    .text-banner {
        padding: 12rem 1rem ;
        color: #fff;
    } 

    .text-banner h1 {
        font-size: 4rem;
        width: 100%;
    }

    .text-banner p {
        font-size: 1.5rem;
        width: 300px;
    }

    /* Serviços */

    #serviços h2 {
        font-size: 2.5rem;
    }

    .borda {
        width: 200px;
    }

    .cards-serviços {
        gap: 10rem;
    }

    .card {
        transform: translateX(-100%);
    }

    .animation-card {
        opacity: 1;
        transform: translateX(0%);
        transition: 2s;
    }

    /* sobre  */

    #quem-somos h2 {
        font-size: 2.5rem;
    }

    .img-sobre img{
        max-width: 100%;
        height: 290px;
        margin-bottom: 2rem;
    }

    /* form de contato */

    #form-contato h2{
        font-size: 2.5rem;
    }

    .container-form {
        max-width: 100%;
        padding: 0rem;
        justify-content: center;
    }

    .img-contato img {
        height: 200px;
        margin-top: 1rem;
    }

    .form {
        width: 100%;
        padding: 1rem;
    }

    .form-input input {
        flex: 1;
    }

    /* footer */

    .info {
        gap: 2rem;
    }

    .redes-sociais {
        margin: 0 auto;
    }

    .redes-sociais img {
        width: 20px;
        height: 20px;
    }

    /* configuração das mensagens */

    .feedback {
        width: 200px;
        height: 70px;
        top: 80px;
    }

    .feedback p {
        font-size: 1.2rem;
    }

    .show {
        padding: 1rem;
    }

}