/* Geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Libertinus Sans, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #252326;
}

/* Cabeçalho */

header {
    background-color: #f9ffff;
    padding: 0.5rem;
    box-shadow: 1px 1px 7px #00000075;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#container-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 150px;
}

#menu {
    display: flex;
    gap: 3rem;
}

.menu-item {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    transition:  0.4s;
}

.menu-item:hover {
    color: #c92c2c;
}

.btn-agendar {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c92c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.5s;
}

.btn-agendar:hover {
    opacity: 1;
}

/* Banner */

.banner {
    height: 850px;
    background: url("../Imagens/banner.jpg") no-repeat center center / cover;
}

.filtro-banner {
    background-image: linear-gradient(to left, #00000000 0%, #000000d6 85%);
    height: 100%;
}

.text-banner {
    padding: 14rem 4rem ;
    color: #fff;
} 

.text-banner h1 {
    font-size: 5rem;
    width: 600px;
    font-weight: bold;
    margin-bottom: 4rem;
}

.text-banner p {
    font-size: 2rem;
    width: 350px;
    line-height: 3rem;
}

/* Serviços */

#serviços {
    padding: 2rem 2rem 15rem;
    text-align: center;
    border-bottom: 1px solid #CCC;
}

#serviços h2 {
    padding: 3rem;
    font-size: 4rem;
    color: #FFF;
    font-weight: bold;
}

.cards-serviços {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 12rem;
}

.card {
    width: 400px;
    padding: 2rem;
    border-radius: 5px;background-color: #f9ffff;
    box-shadow: 1px 1px 7px #00000075;
}

.img {
    background-color: #FFF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -90px auto 0;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c92c2c;
}

.img img {
    width: 90px;
    height: 90px;
}

.card-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.card-img img {
    width: 60px;
    height: 60px;
}

.card-img span {
    font-size: 2rem;
    color: #c92c2c;
}


.card h3 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

.borda {
    width: 60%;
    height: 2px;
    background-color: #c92c2c;
    margin: 0 auto 1rem;
}

.desc p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.preço {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 1px solid #CCC;
}

.preço sup {
    font-size: 1rem;
}

/* Sobre */

#quem-somos {
    padding: 2rem 2rem 15rem;
    background-color: #f1f1f1;
}

#quem-somos h2 {
    padding: 3rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.img-sobre {
    max-width: 600px;
}

.img-sobre img{
    max-width: 600px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #00000048;
}

.sobre-desc {
    width: 500px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: bold;
}

/* Contato */





